:root {
  --form-background: #ff9;
  --body-background: #321dd3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background);
}

.formulario {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 40px;
  background-color: var(--form-background);
  border-radius: 15px;
  overflow-wrap: normal;
  max-width: 440px;
  max-height: 300px;
  height: 250px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.grupo-entradas {
  margin: 10px;
}

textarea {
  width: 330px;
  height: 67px;
  max-width: 330px;
  max-height: 67px;
  margin: 5px;
  min-width: 330px;
  min-height: 67px;
  resize: none;
}

.close4 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
