:root {
  --text-color-footer: white;
  --footer-background: #333;
  --menu-icono-hambur-color: #07fc27;
  --navbar-background: linear-gradient(5deg, #111, #222, #777);
  --logo-text-color: #7fc7f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}


.parent {
  background-image: url(../images/fondo-grid.png);
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

/* reglas para la barra navegacion superior */
.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  font-size: 2rem;
  text-align: center;
  color: white;
  background: var(--navbar-background);
  grid-column: span 5 / span 5;
  & .logo {
    font-size: 1em;
    user-select: none;
    padding-left: 20px;
    align-content: center;
    font-weight: bold;
    border: color var(--logo-text-color);
    & p{
      color: #ddd;
      text-shadow: #bbb 2px 2px 5px;
    }
    &:hover {
      cursor: pointer;
      font-weight: bold;
      transform: rotateZ(-5deg);
      transition-duration: 0.1s;
    }
  }
}

/* reglas para el menu lateral */
.menu-lateral {
  position: fixed;
  top: 60px;  
  padding: 5px;
  height: 100%;
  font-size: 1.5em;
  color: white;
  gap: 4px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: linear-gradient(60deg, rgb(6, 6, 34), #222, #777);
  grid-row: span 6 / span 9;
  grid-row-start: 2;
  & a {
    color: #d8d2d2;
    text-shadow: 2px 2px 5px #aaa;
    margin-top: 30px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    &:hover {
      border-left: 3px solid white;
      transition: 0.3s;
      border-radius: 15px solid white;
      background-color: #333;
    }
  }
  
}


.div4 {
  display: grid;
  grid-column: span 4 / span 4;
  grid-row: span 8 / span 8;
  grid-column-start: 2;
  grid-row-start: 1;
  color: white;
  width: 100%;
  max-width: 100%;
  min-width: 400px;
  z-index: 8;
}

.video{
  width: 600px;
  height: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.laVega {
  margin-left: 300px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.parrafos {
  font-size: 1.2em;
  font-weight: 100;
  border-radius: 10px;
  border: 1px solid white;
  width: auto;
  color: #afaea5;
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  user-select: none;
}

.parrafo-1,
.parrafo-2,
.parrafo-3,
.parrafo-4,
.parrafo-5 {
  font-size: 1.1em;
  text-align: center;
  font-weight: 100;
  border-radius: 10px;
  border: 1px solid white;
  width: auto;
  color: #afaea5;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  user-select: none;
}

.titulo-parrafo{
  color: #aaa;
  font-size: 1.4em;
  text-shadow: #bbb 2px 2px 5px;
}

.footer {
  display: flex;
  margin: 0;
  position: fixed;
  text-align: center;
  padding: 0.625em 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
  font-size: 1.5em;
  color: var(--text-color-footer);
  background-color: var(--footer-background);
}

.navbar .menu-icon {
  display: none;
}

@media (max-width: 668px) {
  .menu-lateral{
  display: none;
}
  
  .navbar .menu-icon {
    display: flex;
    margin-top: 20px;
    margin-left: 75px;
    cursor: pointer;
    user-select: none;
  }

  .div4 {
    display: block;
    grid-column: span 4 / span 4;
    grid-row: span 8 / span 8;
    grid-column-start: 2;
    grid-row-start: 1;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 8;
  }

  .video{
    width: 300px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
  }

  .images{
    width: 350px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  
}



