:root {
  --div4-text-color: white ;
  --footer-background: #333;
  --logo-p-color:#ddd;
  --logo-text-color: #7fc7f3;
  --logo-text-shadow: #bbb 2px 2px 5px;
  --menu-icono-hambur-color: #07fc27;
  --menu-lateral-color:white;
  --menu-lateral-background: linear-gradient(60deg, rgb(6, 6, 34), #222, #777);
  --menu-lateral-border-right: 5px solid #999;
  --navbar-background-color: linear-gradient(5deg, #111, #222, #777);
  --navbar-text-color:white;
  --parrafos-text-color: #afaea5;
  --parrafo-1-2-3-4-5-text-color:#afaea5; 
  --text-color-footer: white;
  --titulo-parrafo-text-shadow: #fff 2px 2px 15px;
  --titulo-parrafo-color: #aaa;
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}


.parent {
  background-image: url(../images/fondo-grid.png) ;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

/* reglas para la barra navegacion superior */
.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;
  padding-left: 10px;
  font-size: 2rem;
  color: var(--navbar-text-color);
  background: var(--navbar-background-color);
  & .logo {
    font-size: 1em;
    user-select: none;
    padding-left: 20px;
    align-content: center;
    font-weight: bold;
    border: color var(--logo-text-color);
    & p{
      color: var(--logo-p-color);
      text-shadow: var(--logo-text-shadow);
    }
    &:hover {
      cursor: pointer;
      font-weight: bold;
      transform: rotateZ(-5deg);
      transition-duration: 0.1s;
    }
  }
}

/* reglas para el menu lateral */
.menu-lateral {
  position: fixed;
  top: 60px; 
  width: 18%; 
  height: 100vh;
  font-size: 1.5em;
  padding-top: 30px;
  border-right: var(--menu-lateral-border-right);
  color: var(--menu-lateral-color);
  display: flex;
  align-items: left;
  flex-direction: column;
  background: var(--menu-lateral-background);
  & a, p {
    color: #d8d2d2;
    text-shadow: 2px 2px 5px #aaa;
    padding: 10px 0;
    margin: 10px;
    text-align: left;
    text-decoration: none;
    user-select: none;
    &:hover {
      cursor: pointer;
      border-left: 2px solid white;
      border-right: 3px solid white;;
      border-top-right-radius: 15px ;
      border-bottom-left-radius: 15px;
      background-color: #111;
    }
  }
}


.div4 {
  display: grid;
  grid-auto-flow: row;
  grid-column: span 4 / span 4;
  grid-row: span 8 / span 8;
  grid-column-start: 2;
  grid-row-start: 1;
  color: var(--div4-text-color);
  width: 100%;
  max-width: 100%;
  min-width: 400px;
  z-index: 8;
}

.video {
  width: 600px;
  height: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.laVega {
  margin-left: 300px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


.parrafos {
  font-size: 1.4em;
  font-weight: 100;
  width: auto;
  color: var(--parrafos-text-color);
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  user-select: none;
}

.parrafo-1,
.parrafo-2,
.parrafo-3,
.parrafo-4,
.parrafo-5 {
  font-size: 1.4em;
  text-align: center;
  font-weight: 100;
  width: auto;
  color: var(--parrafo-1-2-3-4-5-text-color);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  user-select: none;
}

.titulo-parrafo {
  color: #aaa;
  font-size: 1.6em;
  text-shadow: #fff 2px 2px 15px;
  &::first-letter{
    font-size: 38px;
  }
}

.footer {
  display: flex;
  width: 100%;
  margin: 0;
  position: fixed;
  padding: 0.625em 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 1.5em;
  color: var(--text-color-footer);
  background-color: var(--footer-background);
}

.navbar .menu-icon {
  display: none;
}

span {
  color:#dcce6f;
}

@media (max-width: 1100px){
  .video {
    width: 500px;
    height: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .images {
    width: 550px;
    height: 350px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar .menu-icon {
    display: none;
  }

}

@media (max-width: 800px){
  .video {
    width: 400px;
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar .menu-icon {
    display: flex;
    position: fixed;
    margin-top: 20px;
    margin-left: 360px;
    cursor: pointer;
    user-select: none;
  }

  .images {
    width: 450px;
    height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 667px){
  
  .menu-lateral {
    display: none;
  }

  img{
    display: none;
  }

  .navbar .menu-icon {
    display: flex;
    position: fixed;
    margin-top: 20px;
    margin-left: 330px;
    cursor: pointer;
    user-select: none;
  }

  .menu-lateral.responsive {
    display: flex;
    z-index: 100;
    flex-direction: column;
    top: 3.3em;
    width: 40%;
    background-color: var(--menu-respon-backgraund);
    & a{
      display: block;
      text-align: left;
      user-select: none;
    }
  }

  .video {
    width: 300px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    position: fixed;
    text-align: center;
    padding: 0.625em 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
    font-size: 1.5em;
    color: var(--text-color-footer);
    background-color: var(--footer-background);
  }
  

  .images {
    width: 350px;
    height: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .div4 {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 4 / span 4;
    grid-row: span 8 / span 8;
    grid-column-start: 2;
    grid-row-start: 1;
    color: var();
    width: 100%;
    z-index: 8;
  }
}