:root{
  --a-border: 1px solid white;
  --a-hover-border-radius: 10px;
  --a-text-color: #d8d2d2;
  --a-text-shadow: 2px 2px 5px #aaa;
  --button-background-color: #110c76;
  --button-border: 1px solid #2e76fb;
  --button-hover-background-color: #145dd2;
  --button-hover-color: #dcd2d2;
  --close5-color: #061bfc;
  --close5-hover-color: black;
  --contenedor-background-color:  #1803fa;
  --contenedor-border: 2px solid #2e76fb;
  --div2-a-p-color: #d8d2d2;
  --div2-a-p-hover-background-color: #110c76;
  --div2-a-p-text-shadow : 2px 2px 5px #aaa;
  --div2-background: #151998;
  --div2-border-right: 5px solid #999;
  --div2-text-color: white;
  --h1-color: #090751;
  --h1-text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.541);
  --icono-completar-color: #038cfd;
  --icono-eliminar-color: white;
  --input-background-color: transparent;
  --input-border: 3px solid #50a8ef;;
  --input-text-color: white;
  --tarea-text-color: white;
  --tarea-background-color: #180d69;
  --tarea-border: 2px solid black;
  --tarea-terminada-background-color: rgb(249, 3, 3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 0;
  text-align: center;
  background: url(../images/fondo-lista-tareas.jpg) center center/cover no-repeat;
}

/* Contenedor principal */

.contenedor {
  width: 600px;
  min-height: 300px;
  margin:0 10px;
  background-color: var(--contenedor-background-color);
  padding: 40px;
  border: var(--contenedor-border);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/* Titulo */
h1 {
  font-size: 50px;
  font-weight: bold;
  color:var(--h1-color);
  user-select: none;
  text-shadow: var(--h1-text-shadow);
}

/* Ingresar texto */ 
input {
  width: 80%;
  height: 50px;
  font-size: 25px;
  margin: 20px;
  padding: 10px;
  color:var(--input-text-color);
  border-style: none;
  border-style: inset;
  background-color: var(--input-background-color);
  border: var(--input-border);
  border-radius: 10px;
}

/* Boton */
button {
  width: 150px;
  height: 60px;
  padding: 10px;
  color: white;
  background-color: var(--button-background-color);
  font-size: 22px;
  border-radius: 10px;
  border: var(--button-border);
  cursor: pointer;
  user-select: none;
  &:hover {
    color:var(--button-hover-color);
    background-color: var(--button-hover-background-color);
  }
}

.div2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100vh;
  font-size: 1.5rem;
  padding-top: 30px;
  border-right: 5px solid var(--div2-border-right);
  color: var(--div2-text-color);
  display: flex;
  align-items: left;
  flex-direction: column;
  background: var(--div2-background);
  & a, p {
    color: var(--div2-a-p-color);
    text-shadow: var(--div2-a-p-text-shadow);
    padding: 15px 0;
    margin: 10px;
    text-align: left;
    text-decoration: none;
    user-select: none;
    &:hover {
      cursor: pointer;
      border-left: 2px solid white;
      border-right: 2px solid white;
      border-top-right-radius: 15px ;
      border-bottom-left-radius: 15px;
      background-color: var(--div2-a-p-hover-background-color);
    }
  }
}

/* Lista de tareas */
#lista-de-tareas {
  width: 80%;
  margin-top: 20px;
}

/* Tareas individuales */
.tarea {
  width: 100%;
  min-height: 70px;
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  color: var(--tarea-text-color);
  background-color: var(--tarea-background-color);
  border: var(--tarea-border);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  & p{
    max-width: 350px;
  }
}

/* Estilo para tarea completada */
.tarea.completada {
  text-decoration: line-through;
  background-color: var(--tarea-terminada-background-color);
  border: none;
}

/* Iconos */
i {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.icono-completar {
  color: var(--icono-completar-color);
}

.icono-eliminar {
  color: var(--icono-eliminar-color);
}

.icono-completar:hover,
.icono-eliminar:hover {
  zoom: 1.2;
}

.close5 {
  display: none;
  font-size: 3em;
  color:var(--close5-color);
  position: fixed;
  top:5px;
  right: 20px;
}

@media (max-width: 930px) {
  .div2 {
  display: none;
}

.close5 {
  display: flex;
  font-size: 3em;
  color:var(--close5-color);
  position: fixed;
  top:5px;
  right: 20px;
  &:hover{
    color: var(--close5-hover-color);
    cursor: pointer;
  }
}

.contenedor {
  min-height: 150px;
  min-width: 300px;
  margin:0 10px;
  background-color: var(--contenedor-background-color);
  padding: 40px;
  border: var(--contenedor-border);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

}