:root {
  --header-background-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: block;
  background-color: #444;
}

header {
  position:fixed;
  top: 4px;
  left: 190px;
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: 0px 10px;
  padding: 15px 15px;
  background-color: var(--header-background-color);
  & a {
    font-size: 16px;
  }
  &:hover{
    background-color: white;
      color: black
  }
}

@media (max-width: 670px) {
  header {
    position:fixed;
    top: 15;
    left: 190px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 10px 10px;
    padding: 5px 15px;
    background-color: var(--header-background-color);
    & a {
      font-size: 16px;
    }
    &:hover{
      background-color: white;
      color: black
    }
}
}