/* variables para estilos de color */
:root {
  --body-background: #000;
  --div-background: rgb(0, 0, 0, 0.8);
  --btn-background: #000;
  --btn-text-color: orangered;
  --close-color: #aaa;
  --close-hover-color: #555;
  --footer-background: #222;
  --footer-text-color: white;
  --a-hover-background: #222;
  --h2-color: orangered;
  --modal-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.623);
  --modal-border-color: 1px solid #e8f803;
  --modal-color: #fff;
  --navbar-border-top-color: 1px solid #444;
  --navbar-border-botton-color: 1px solid #000;
  --navbar-background-color:linear-gradient(5deg, black, #222, #777);
  --navbar-text-color: orangered;
  --text-color: orangered;
  --text-color-logo: orangered;
  --color-shadow: 10px 10px 25px #040111;
}

* {
  box-sizing: border-box;
}

/* estilos para el body del html index2.html*/
body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
  padding: 0;
  background-image: url(../images/card-credito.jpg);
}

h2 {
  color: var(--h2-color);
  text-decoration: underline;
}

.titulo{
  font-size: 1.375em;
}

.input-validacion {
  font-size: 0.9em;
  border-radius: 0.43em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1em;
  background-color: var(--div-background);
}

.clase-validacion {
  font-size: 1.3em;
  max-width: 18.75em;
  margin-top: 6.6em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.56em;
  border-radius: 1.25em;
  box-shadow:  var(--color-shadow);
  background-color: var(--div-background);
  color: var(--text-color);
  border: 1px solid orangered;
}

.label {
  font-size: 16px;
}

.btn-cal-validacion {
  outline: invert;
  border: 1px solid orangered;
  cursor: pointer;
  font-size: 1em;
  padding: 0 0.8em;
  border-radius: 0.3em;
  color: var(--btn-text-color);
  background-color: #222;
}

.btn-cal-validacion:hover {
  color: white;
  background-color: orangered;
  cursor: pointer;
}

#resultado-validacion,
#posible-numero {
  text-align: center;
  color: #e8f803;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--body-background);
}

/* Estilos del contenido del modal */
.modal-content {
  background-color: var(--div-background);
  color: var(--modal-color);
  margin: 15% auto;
  padding: 20px;
  border: var(--modal-border-color);
  width: 80%;
  max-width: 31.25em;
  box-shadow: var(--modal-box-shadow);
  border-radius: 0.8em;
  user-select: none;
}

#resultado-validacion {
  text-align: center;
}

/* Botón de cerrar */
.close3 {
  color: var(--close-color);
  float: right;
  font-size: 1.75em;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: var(--close-hover-color);
  text-decoration: none;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 25px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
  font-size: 1.5em;
  color: var(--footer-text-color);
  background-color: var(--footer-background);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  user-select: none;
  background-color: var(--footer-background);
  border-bottom: var(--navbar-border-botton-color);
  border-top: var(--navbar-border-top-color);
  background: var(--navbar-background-color);
}

.navbar a {
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  font-size: 1.4em;
  user-select: none;
  color: var(--navbar-text-color);
}

.navbar a:hover {
  border-radius: 5px;
  background-color: var(--a-hover-background);
  border: 1px solid orangered;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s;
  color: var(--text-color-logo);
}

.navbar .logo:hover {
  font-size: 2em;
  font-weight: bold;
  zoom: 1.1;
  rotate: 360deg;
}

.navbar .menu {
  display: flex;
}

.navbar .menu a {
  display: none;
}

.navbar .menu-icon {
  display: block;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navbar .menu a {
    display: block;
  }

  .navbar .menu-icon {
    display: none;
  }
}

.navbar .menu.responsive {
  position: absolute;
  top: 60px;
  width: 100%;
  flex-direction: column;
  background-color: var(--footer-background);
}

.navbar .menu.responsive a {
  display: block;
  text-align: center;
}

.menu-icon {
  color: #76c4f5;
}

.menu-icon2 {
  color: #76c4f5;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s;
  color: var(--text-color-logo);
}

.navbar .logo:hover {
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  transform: rotateY(360deg);
}

@media screen and (min-width: 600px) {
  .navbar .menu a {
    display: block;
  }

  .navbar .menu-icon {
    display: none;
  }
}

.navbar .menu.responsive {
  position: absolute;
  top: 60px;
  width: 100%;
  flex-direction: column;
  background-color: var(--footer-background);
}

.navbar .menu.responsive a {
  display: block;
  text-align: center;
}

.menu-icon {
  color: #76c4f5;
}

.menu-icon2 {
  color: #76c4f5;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s;
  color: var(--text-color-logo);
}

.navbar .logo:hover {
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  transform: rotateY(360deg);
}
